/MyApp/Assets.xcassets/AccentColor.colorset/._Contents.json
/MyApp/Assets.xcassets/._Contents.json
/MyApp/Preview Content/Preview Assets.xcassets/._Contents.json
/MyApp/._ContentView.swift
/._MyApp.xcodeproj
/MyApp/._MyAppApp.swift
/MyApp.xcodeproj/._project.xcworkspace
